
/* Mobile Screens */
 
@media screen and (max-width:425px) {
    /* nav related styles */
    .nav-container {
        flex-direction: column;
    }
    .nav-column-two {
        flex-direction: column;
    }
    .nav-column-two>a{
        margin-top: 60px;
    }
    .nav-link {
        flex-direction: column;
        margin-top: 62px;
        margin-bottom: 50px;
        text-align: center;
    }
    /* banner related styles */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-column-two >img {
        margin-right: 0px;
        margin-top: 76px;
        margin-bottom: 24px;
        width: 400px;
    }
    .banner-column-one {
        width: 425px;
    }
    .first-title {
        margin-top: 131px;
    }
    .banner-description {
        margin-left: 45px;
    }
    .ban-btn-container {
        margin-left: 45px;
    }
    .ban-btn-container>.ban-btn-one {
        margin-left: 0px;
    }

    /* online games section */
    .games-section-container {
        flex-direction: column;
    }
    .online-games{
        width: 90%;
        margin-left: 20px;
    }
    .online-games{
        width: 425px;
        padding: 0px;
        margin-left: 0px;
    }
    .games-items img{
        width: 100%;
        
    }
    .online-info{
            margin-top: 0px;
            margin-right: 0px;
            padding-right: 20px;
    }


    /* play section */

    .play-container {
        flex-direction: column;
    }
    .main-img>img{
        width: 80%;
        margin-left: 70px;
    }
    .relate-img>img{
        width: 160%;
        position: relative;
        left: 10%;
    }
    .play-col-two{
        margin-top: 45px;
    }
}



/* Tablet Screen */

@media screen and (min-width:426px) and (max-width:768px) {
    /* nav related styles */
    .nav-container {
        flex-direction: column;
    }
    .nav-column-two {
        margin-top: 50px;
    }
    /* banner related styles */
    .banner-column-one {
        width: 768px;
    }
    .banner-container {
        flex-direction: column-reverse;
    }
    .banner-description {
        margin-left: 230px;
    }
    .ban-btn-container>.ban-btn-one {
        margin-left: 230px;
    }
    .banner-column-two>img {
        margin-right: 0px;
    }

        /* play section */

    .play-container {
        flex-direction: column;
    }
    .play-col-two{
            margin-left: 90px;
            margin-top: 65px;
    }

    .relate-img>img{
        position: relative;
        left: 50px;
    }
}