
/* Mobile Screens */
 
@media screen and (max-width:425px) {
    /* nav related styles */
    .nav-container {
        flex-direction: column;
    }
    .nav-column-two {
        flex-direction: column;
    }
    .nav-column-two>a{
        margin-top: 60px;
    }
    .nav-link {
        flex-direction: column;
        margin-top: 62px;
        margin-bottom: 50px;
        text-align: center;
    }
    /* banner related styles */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-column-two >img {
        margin-right: 0px;
        margin-top: 76px;
        margin-bottom: 24px;
        width: 400px;
    }
    .banner-column-one {
        width: 425px;
    }
    .first-title {
        margin-top: 131px;
    }
    .banner-description {
        margin-left: 45px;
    }
    .ban-btn-container {
        margin-left: 45px;
    }
    .ban-btn-container>.ban-btn-one {
        margin-left: 0px;
    }
}



/* Tablet Screen */

@media screen and (min-width:426px) and (max-width:768px) {
    /* nav related styles */
    .nav-container {
        flex-direction: column;
    }
    .nav-column-two {
        margin-top: 50px;
    }
    /* banner related styles */
    .banner-column-one {
        width: 768px;
    }
    .banner-container {
        flex-direction: column-reverse;
    }
    .banner-description {
        margin-left: 230px;
    }
    .ban-btn-container>.ban-btn-one {
        margin-left: 230px;
    }
    .banner-column-two>img {
        margin-right: 0px;
    }
}