@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* nav related styles */
.nav-container {
    max-width: 1440px;
    margin: 38px auto 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-column-one {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.nav-text {
    font-size: 32px;
    font-weight: 700;
}

.nav-column-two {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-link {
    display: flex;
    gap: 32px;

}

.nav-link a {
    text-decoration: none;
    color: #3C354F;
    align-items: center;
}

.nav-btn {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 262px;
    height: 56px;
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-btn>img {
    margin-left: 15px;
}

/* banner related styles */

.banner-container {
    margin: 0 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-column-one {
    width: 901px;
    height: 700px;
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
}

.first-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 148px;
}

.second-title {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-description {
    margin-top: 24px;
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-left: 276px;
}

.banner-description>p {
    padding: 5px;
}

.ban-btn-one {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
}

.ban-btn-two {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    margin-left: 24px;
}

.ban-btn-container>.ban-btn-one {
    display: inline;
    margin-top: 50px;
    margin-left: 270px;
}
.banner-column-two>img{
    margin-right: 240px;
}