@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* nav related styles */
.nav-container {
    max-width: 1440px;
    margin: 38px auto 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-column-one {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.nav-text {
    font-size: 32px;
    font-weight: 700;
}

.nav-column-two {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-link {
    display: flex;
    gap: 32px;

}

.nav-link a {
    text-decoration: none;
    color: #3C354F;
    align-items: center;
}

.nav-btn {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 262px;
    height: 56px;
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-btn>img {
    margin-left: 15px;
}

/* banner related styles */

.banner-container {
    margin: 0 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-column-one {
    width: 901px;
    height: 700px;
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
}

.first-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 148px;
}

.second-title {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-description {
    margin-top: 24px;
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-left: 276px;
}

.banner-description>p {
    padding: 5px;
}

.ban-btn-one {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
}

.ban-btn-two {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    margin-left: 24px;
}

.ban-btn-container>.ban-btn-one {
    display: inline;
    margin-top: 50px;
    margin-left: 270px;
}

.banner-column-two>img {
    margin-right: 240px;
}

/* online games section */
.online-info {
    text-align: center;
    margin-top: 120px;
}

.online-title {
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.funny-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.online-game-des {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 16px;
}

.games-items {
    width: 346px;
    height: 400px;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.6s ease ease-out;
}

.games-hover {
    background-color: #00000081;
    width: 346px;
    height: 400px;
    padding-top: 50%;
    border-radius: 16px;
    border: 5px solid #FF42A5;
    text-align: center;

}

.games-items:hover {
    transform: translateY(05px);
}

.games-items:hover::before {
    opacity: 1;
}

.games-items:hover .games-hover {
    opacity: 1;
    transform: translateX(0);
    left: 50%;
}

.games-items::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, to top, #000, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.games-items img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.fa-regular {
    color: white;
    font-size: 30px;
}

.games-hover>h4 {
    color: #FF42A5;
    font-size: 25px;
    margin-top: 15px;
}

.games-section-container {
    max-width: 1440px;
    margin: 48px auto 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    
}

.games-des {
    margin-top: 24px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

/* play instantly section */
.main-img {
    position: relative;
}

.relate-img {
    position: absolute;
    top: 55%;
    right: 75%;
}

.play-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;
}

.play-title {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
}

.play-title-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-des {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

/* icon related styles */
.icon-container {
    max-width: 1440px;
    margin: 120px auto;
}

.icon-items {
    border: none;
    border-radius: 50px;
    background: #FFF;
    width: 248px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-items>img {
    padding: 10px 0px 10px 10px;
}

.icon-des {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.icon-items:hover {
    cursor: pointer;
    border: 1px solid #FF42A5;
}

.icon-items .icon-des:hover {
    color: #FF42A5;

}

/* footer related styles */
.footer-back {
    background: #0B0223;
    min-height: 636px;
}

.footer-logo-container {
    max-width: 1440px;
    margin: 0 auto;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
}

.footer-logo,
.footer-text {
    margin-top: 0px;
}

.footer-text>h1 {
    color: white;
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-second-text {
    color: white;
}

.footer-second-text>p {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-second-text-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.footer-icon-container {
    max-width: 1440px;
    margin: 66px auto 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
}

.footer-text {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-text-container {
    max-width: 1440px;
    margin: 74px auto 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.copytright-text {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.copyright-text-container{
    max-width: 1440px;
    margin: 60px auto 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}